@font-face {
  src: url("../assets/yellowtail-regular.woff") format("woff");
  font-family: "Yellowtail";
}

.footer {
  font-family: Yellowtail, cursive;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 30px 0;
  background-color: #fff;
  font-size: 20px;
}

.footer__icons {
  color: #3dbda7;
}

.footer__icons:hover {
  opacity: 0.7;
}

.footer__copyright {
  background-color: #fff;
  display: flex;
  justify-content: center;
}
