.friends__sidebar {
}

.friends__title {
  color: #ffffff;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
}

.online__friends-list {
  padding: 0;
  margin: 0;
  /* gap: 14px; */
}

.online__friend-1 {
  background-image: url(../../assets/goodboi.png);
  width: 235px;
  height: 50px;
  background-repeat: no-repeat;
  list-style-type: none;
}

.online__friend-2 {
  background-image: url(../../assets/iamgoat.png);
  width: 235px;
  height: 50px;
  background-repeat: no-repeat;
  list-style-type: none;
}

.online__friend-image {
}
