.nav__bar {
  background-image: url(../../assets/nav-bar.png);
  width: 125px;
  height: 1024px;
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.nav__list {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.nav__item {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

.nav__logo {
  background-image: url(../../assets/playstation-logo.png);
  width: 45px;
  height: 45px;
  margin: 40px 0 240px;
}

.nav__home {
  background-image: url(../../assets/home-icon.png);
}

.nav__home:hover {
  opacity: 0.6;
}

.nav__user {
  background-image: url(../../assets/user-icon.svg);
  display: inline-block;
}

.nav__user:hover {
  opacity: 0.6;
}

.nav__games {
  background-image: url(../../assets/save-icon.svg);
}

.nav__games:hover {
  opacity: 0.6;
}
