.main {
  color: white;
  padding-right: 34px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__content {
  display: flex;
  align-items: flex-start;
}

.main__images {
  position: relative;
  width: 100%;
}

.main__image {
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  margin-top: 40px;
  object-fit: cover;
  object-position: left;
}

.overlay__image {
  position: absolute;
  bottom: 0;
  right: -37px;
  width: 46vw;
  object-fit: contain;
  object-position: bottom;
}

.main__game-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0;
}

.main__image-title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 24px;
}

.main__games-title {
  font-size: 24px;
  color: #ffffff;
  margin: 20px 0;
}

.main__games-load {
  padding: 4px;
  background-color: #3dbda7;
  cursor: pointer;
}

.main__recent-games {
  width: 400px;
  height: 400px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #fff;
}

.main__headset {
  background-image: url(../../assets/Headset.png);
  width: 357px;
  height: 441px;
}

@media screen and (max-width: 500px) {
  .main__images {
    width: 68%;
  }

  .main__image {
    /* height: 60vw; */
    border-radius: 40px;
    aspect-ratio: 0.94;
  }
}
