.nav__bar {
  background-image: url(../../assets/nav-bar.png);
  width: 125px;
  border-radius: 10px;
}

.nav__list {
  list-style-type: none;
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.nav__item {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}

.nav__logo {
  background-image: url(../../assets/playstation-logo.png);
  width: 45px;
  height: 45px;
  margin: 40px 0 240px;
}

.nav__home {
  background-image: url(../../assets/home-icon.svg);
}

.nav__home:hover {
  opacity: 0.6;
}

.nav__user {
  background-image: url(../../assets/user-icon.svg);
  display: inline-block;
}

.nav__user:hover {
  opacity: 0.6;
}

.nav__games {
  background-image: url(../../assets/save-icon.svg);
}

.nav__games:hover {
  opacity: 0.6;
}

@media screen and (max-width: 920px) {
  .nav__bar {
    width: 90px;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 627px) {
  .nav__bar {
    width: 50px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 2px;
    padding: 10px;
    margin: 0;
  }

  .nav__logo {
  }

  .nav__item {
    width: 24px;
    height: 24px;
  }
}
