.main__container {
  padding: 0;
  color: white;
}

.main__image {
  background-image: url(../../assets/main-game.png);
  position: relative;
  width: 850px;
  height: 320px;
  margin-top: 48px;
}

.main__image-title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 24px;
  margin: 64px 0 0 45px;
}

.overlay__image {
  background-image: url(../../assets/warrior.png);
  position: absolute;
  top: -74px;
  left: 470px;
  width: 337px;
  height: 392px;
  /* z-index: 1; */
}

.main__game-info {
  display: flex;
  align-items: flex-start;
  /* gap: 48px; */
}

.main__game-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 55px;
}

.main__headset {
  background-image: url(../../assets/gaming-headset.png);
  background-repeat: no-repeat;
  width: 356px;
  height: 446px;
  margin: 77px 73px 49px 0;
}

.games__title {
  font-size: 24px;
  color: #ffffff;
  margin-top: 55px;
}

.recent__games {
  background-image: url(../../assets/recently-played.png);
  width: 400px;
  height: 400px;
  margin-top: 29px;
  cursor: pointer;
}

.card {
  
}