.search {
  position: relative;
  width: 100%;
  max-width: 473px;
  margin-right: 15px;
}

.search__bar {
  background-color: rgba(100, 100, 110, 0.6);
  color: #fff;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 6px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition: background-color 0.4s ease;
}

.search__bar::placeholder {
  color: #fff;
  font-style: italic;
}

.search__bar:focus {
  outline: 2px solid #3dbda7;
}

.search__icon-button {
  border: none;
  height: 30px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 8px;
  cursor: pointer;
}

.search__icon {
  margin-left: 16px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
}

.search__results-overlay {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 96vh;
  overflow-x: auto;
}

.search__error {
  color: #fff;
}

.search__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.search__game-results {
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
  padding: 6px;
  margin-bottom: 10px;
  background-color: #3dbda7;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.search__save-game {
  background-image: url(../../assets/pin-icon.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.game__name {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
