.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}

.header__buttons {
  flex-shrink: 0;
}

.header__signup {
  background-color: #3dbda7;
  font-size: 20px;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.header__signup:hover {
  opacity: 0.3;
}

.header__login {
  background-color: #3dbda7;
  font-size: 20px;
  margin-left: 14px;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.header__login:hover {
  opacity: 0.3;
}

.header__user-info {
  display: flex;
  align-items: center;
  gap: 10;
  flex-shrink: 0;
}

.header__current-user {
  color: #fff;
  font-size: 30px;
  font-family: Yellowtail, cursive, sans-serif;
  margin-left: 20px;
}

.header__current-avatar {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  object-fit: cover;
}

@media screen and (max-width: 872px) {
  .header {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
  }

  .header__buttons {
  }

  .header__signup {
    width: 60px;
    font-size: 14px;
    margin-left: 20px;
  }

  .header__login {
    width: 60px;
    font-size: 14px;
  }
}

@media screen and (max-width: 520px) {
  .header {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
  }

  .header__buttons {
    margin-left: 20px;
  }
}

@media screen and (max-width: 490px) {
}
