.footer {
  font-family: Yellowtail, cursive;
  width: 96%;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 30px 0;
  background-color: #fff;
  font-size: 20px;
}

.footer__icons {
  color: #3dbda7;
}

.footer__icons:hover {
  opacity: 0.7;
}

.footer__copyright {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 876px) {
  .footer {
    width: 86%;
  }

  .footer__socials {
    align-items: center;
    gap: 10px;
    margin: 0;
  }

  .footer__copyright {
    text-align: center;
    font-size: 14px;
  }
}

@media screen and (max-width: 787px) {
  .footer {
    width: 70%;
    flex-shrink: 0;
  }

  .footer__socials {
    flex-direction: column;
    align-items: center;
    gap: 7px;
  }

  .footer__copyright {
    text-align: center;
    font-size: 14px;
  }
}

@media screen and (max-width: 675px) {
  .footer {
    width: 83%;
    flex-shrink: 0;
  }

  .footer__socials {
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-size: 14px;
  }

  .footer__copyright {
    text-align: center;
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    width: 74%;
  }

  .footer__socials {
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-size: 14px;
  }

  .footer__copyright {
    text-align: center;
    font-size: 14px;
  }
}
