.app__wrapper {
  position: absolute;
}

.full__background {
  background-image: url(../../assets/gaming.png);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* position: relative; */
}

.app__content {
  
}