.top__games {
  background-color: #067d71;
  width: 100%;
  height: 800px;
}

.top__games-title {
  color: #fff;
}

.top__game {
  list-style-type: none;
  width: 575px;
  height: 359px;
}

.top__game-1 {
  background-image: url(../../assets/callofduty.png);
}

.top__game-2 {
  background-image: url(../../assets/fortnite.png);
}

.top__game-3 {
  background-image: url(../../assets/);
}
