@font-face {
  src: url("../assets/yellowtail-regular.woff") format("woff");
  font-family: "Yellowtail";
}

.header {
  /* position: relative; */
}

.header__title {
  font-size: 80px;
  font-family: Yellowtail, cursive;
  margin: 0;
  display: flex;
  justify-content: center;
}

.header__buttons {
}

.header__signup {
  background-color: #3dbda7;
  position: absolute;
  font-size: 20px;
  right: 120px;
  width: 80px;
  height: 50px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.header__signup:hover {
  opacity: 0.3;
}

.header__login {
  background-color: #3dbda7;
  position: absolute;
  font-size: 20px;
  right: 45px;
  margin-left: 20px;
  width: 80px;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.header__login:hover {
  opacity: 0.3;
}

@media screen and (max-width: 627px) {
  
}